<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- Libs -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic-datepicker/dist/ionic-datepicker.bundle.min.js"></script>
    <script src="lib/ionic-timepicker/dist/ionic-timepicker.bundle.min.js"></script>
    <script src="lib/angular-resource/angular-resource.min.js"></script>
    <script src="cordova.js"></script>

    <!-- Main App / Routes -->
    <script src="js/app.js"></script>
    <script src="js/routes.js"></script>

    <!-- Maps -->
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyClX6v7iDNCvtUUwocU4yAgOZb_i5Pf7Ws"></script>

    <!-- Controllers -->
    <script src="js/controllers/SidenavCtrl.js"></script>
    <script src="js/controllers/WelcomeCtrl.js"></script>
    <script src="js/controllers/DashboardCtrl.js"></script>
    <script src="js/controllers/ProfileCtrl.js"></script>
    <script src="js/controllers/ReservesCtrl.js"></script>
    <script src="js/controllers/ReserveCtrl.js"></script>
    <script src="js/controllers/SearchBusinessCtrl.js"></script>
    <script src="js/controllers/BusinessCtrl.js"></script>

    <!-- Directives -->
    <script src="js/directives/RatingStar.js"></script>

    <!-- Services -->
    <script src="js/services/tools/LocalStorage.js"></script>
    <script src="js/services/tools/UserIdentity.js"></script>
    <script src="js/services/tools/Layout.js"></script>
    <script src="js/services/tools/Toast.js"></script>
    <script src="js/services/network/RemoteResource.js"></script>
    <script src="js/services/network/UserResource.js"></script>
    <script src="js/services/network/BusinessResource.js"></script>
    <script src="js/services/network/ReserveResource.js"></script>
</head>
<body ng-app="goreservas">
<!--
  The nav bar that will be updated as we navigate between views.
-->
    <ion-side-menus>
        <ion-side-menu ng-controller="SidenavCtrl" side="left">
            <div class="list card sidenav-card">
                <div ng-if="layout.isAuthenticated()" class="item item-avatar">
                    <img src="images/default_avatar.png">
                    <h2>{{getAuthenticatedInfo("name")}}</h2>
                    <p>{{getAuthenticatedInfo("email")}}</p>
                </div>
            </div>
            <ul class="list sidenav-list">
                <a class="item item-icon-left" ng-click="sidemenuClick('dashboard')">
                    <i class="icon ion-home"></i>
                    Inicio
                </a>
                <a class="item  item-icon-left" ng-click="sidemenuClick('reserves')">
                    <i class="icon ion-calendar"></i>
                    Minhas Reservas
                </a>
                <a class="item item-icon-left" ng-click="sidemenuClick('search-business')">
                    <i class="icon ion-search"></i>
                    Procurar Estabelecimentos
                </a>
                <a class="item item-divider"></a>
                <a href="" class="item item-subitem">Minha conta</a>
                <a class="item item-icon-left" ng-click="sidemenuClick('profile')">
                    <i class="icon ion-person"></i>
                    Editar Perfil
                </a>
                <a class="item item-icon-left" ng-click="logout()">
                    <i class="icon ion-android-exit"></i>
                    Sair
                </a>
            </ul>
        </ion-side-menu>
        <ion-side-menu-content>
            <ion-nav-bar ng-show="layout.isAuthenticated()" class="bar-assertive">
                <ion-nav-buttons side="left">
                    <button class="button button-icon icon ion-navicon light" ng-show="layout.isPrimary()" ng-click="layout.sidemenuToggle()"></button>
                    <button class="button button-icon icon ion-android-arrow-back light" ng-show="!layout.isPrimary()" ng-click="layout.goBack()"></button>
                </ion-nav-buttons>
            </ion-nav-bar>
            <ion-nav-view>

            </ion-nav-view>
        </ion-side-menu-content>
    </ion-side-menus>
</body>
</html>
